.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.square {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border: solid 1px black;
    margin: 10px;
}