.footer {
    background-color: lightblue;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    
}

.footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}