.form_input {
    border: 2px solid  #CFD8DC;
    border-radius: 12px;
    padding: 14px 16px ;
    width: 100%;
    margin: 4px 0;
}

.form_input:focus {
    outline: none;
    border-color:#FFE44D ;
}